<ul>
  <% if ::Refinery::Newsletters::Admin::NewslettersController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.newsletters_admin_newsletters_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_newsletters_admin_newsletter_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Newsletters::Admin::NewslettersController.sortable? && ::Refinery::Newsletters::Newsletter.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Newsletters"),
                 refinery.newsletters_admin_newsletters_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Newsletters"),
                 refinery.newsletters_admin_newsletters_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
