<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(newsletter) -%>">
  <span class='title'>
    <%= newsletter.title %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.newsletters_newsletter_path(newsletter),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_newsletters_admin_newsletter_path(newsletter),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.newsletters_admin_newsletter_path(newsletter),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => newsletter.title),
        :method => :delete %>
  </span>
</li>
