<ul id='sortable_list'>
  <%= render :partial => 'newsletter', :collection => @newsletters %>
</ul>
<%= render '/refinery/admin/sortable_list',
            :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true %>
