<% content_for :content do %>
    <div class="container">
      <% if !@newsletter.nil? %>
          <% @newsletter.each do |new| %>
              <article class="home_news_item">
                <table cellspacing="0">
                  <tr>
                    <td class="home_news_head">
                      <div class="title"><%= link_to new.title, refinery.newsletters_newsletter_path(new) %></div>
                      <div class="date"><%= l(new.publish_date, :format => :long) %></div>
                    </td>
                    <td rowspan="3" style="width: 5px;">
                    </td>
                    <td rowspan="3">
                      <div class="image">
                        <%= image_tag(new.photo.url, :size => "296x214", :alt => "news" ) %>
                      </div>
                    </td>
                  </tr>
                  <tr><td style="height: 5px;"></td></tr>
                  <tr>
                    <td class="content">
                      <div class="txt">
                        <%= truncate  new.body, :length => 500,
                                      :omission => " ... #{link_to 'Preberi več', refinery.newsletters_newsletter_path(new)}",
                                      :preserve_html_tags => true %>
                      </div>
                    </td>
                  </tr>
                </table>
              </article>
          <% end %>
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="archive">
      <%= link_to "Arhiv", refinery.newsletters_newsletters_path %>
    </div>
<% end %>

<% content_for :footer do %>
    <% @footer.each do |footer| %>
        <table border="0">
          <tr><td><%= footer.title %></td></tr>
          <tr><td><%= footer.content.gsub(%r{</?/p?>}, '<br />').gsub(%r{</?p?>}, '').html_safe %></td></tr>
        </table>
    <% end %>
<% end %>