<% content_for :content do %>
    <article class="news_item_show">
      <p class="title">
        <%= @newsletter.title %>
      </p>
      <p>
        <small><%= l(@newsletter.publish_date, :format => :long) %></small>
      </p>
      <div class="news_image"><%= image_fu(@newsletter.photo, "400x328") %></div>
      <%= @newsletter.body.html_safe %>
      <p>
        <%= link_to 'Nazaj na novice', refinery.root_path %>
      </p>
    </article>
<% end %>

<% content_for :footer do %>
    <% @footer.each do |footer| %>
        <table border="0">
          <tr><td><%= footer.title %></td></tr>
          <tr><td><%= footer.content.gsub(%r{</?/p?>}, '<br />').gsub(%r{</?p?>}, '').html_safe %></td></tr>
        </table>
    <% end %>
<% end %>
